<!-- <div class="small-12 large-12 columns">
  <%= form_for("user", :url => user_session_path) do |f| %>
    <%= f.text_field :email %>
    <%= f.password_field :password %>
    <%= f.submit 'Sign in' %>
    <%= link_to "Forgot your password?", new_password_path('user') %>
  <% end %>
</div> -->