<div class="row">
   <div class="small-6 large-6 centered columns">
      <h4>User Name</h4>
      <p><%= current_user.user_name %></p>
   </div>
   <div class="small-6 large-6 centered columns">
      <div class= "point_box">
         <h6>Followers</h6>
         <b><%= current_user.inverse_friends.count %></b>
      </div>
      <div class= "point_box">
         <h6>Points</h6>
         <b><%= current_user.score %></b>
      </div>
      <div class= "point_box">
         <h6>Following</h6>
         <b><%= current_user.friends.count %></b>
      </div>
   </div>
</div>
<div class="row">
   <div class="small-12 large-12 centered columns">
      <h4>Following</h4>
      <ul>
         <% for friendship in current_user.friendships %>
            <li>
               <%= h friendship.friend.user_name %>
               (<%= link_to "remove", friendship, :method => :delete %>)
            </li>
         <% end %> 
      </ul>
      <p><%= link_to "Find Friends", achievements_path %></p>
      <h4>Followers</h4>
      <ul>
        <% for user in current_user.inverse_friends %>
        <li>
         <%= h user.user_name %>
         <% if !current_user.friends.include? user %>
            <%= link_to "Follow", friendships_path(:friend_id => user), :method => :post %>
         <% end %>
        </li>
        <% end %>
      </ul>
   </div>
</div>